<html>
  <head></head>
  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>body</th>
          <th clospan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>
    <h2>New book</h2>
    
  </body>